@media screen and (min-width: 901px) {
    .offersList {
        padding: 24px var(--offset);
    }

    .offersList > .list {
        display: grid;
        width: 100%;
        grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
        column-gap: 24px;
        row-gap: 24px;
        transition: 250ms;
    }
}

@media screen and (max-width: 900px) {
    .offersList {
        padding: 18px calc(var(--offset)/9);
    }

    .offersList > .list {
        display: grid;
        width: 100%;
        grid-template-columns: calc(50% - 4px) calc(50% - 4px);
        column-gap: 8px;
        row-gap: 8px;
        transition: 250ms;
    }
}