@media screen and (min-width: 901px) {
    header {
        display: flex;
        width: 100%;
        z-index: 6;
        box-shadow: 0 0 10px -4px grey;
        box-sizing: border-box;
        height: 60px;
        padding: 18px var(--offset);
        flex-direction: row;
    }

    header > div {
        flex: 5;
    }

    header > .logotype {
        display: flex;
        justify-content: flex-start;
    }

    header > .logotype > img{
        width: 175px;
    }

    header > .changeLang {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        font-size: 24px;
        color: #828282;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                         supported by Chrome, Edge, Opera and Firefox */
    }

    header > .changeLang > div {
        float: right;
    }

    header > .changeLang .selected {
        color: #1AAB48;
        font-size: 26px;
    }

    header > .changeLang > img {
        height: 100%;
    }
    header > a {
        flex: 1;
    }
    .menu {
        display: flex;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
    }

    .menu > span {
        font-family: "OpenSans", sans-serif;
        font-size: 14px;
        /*font-weight: 700;*/
        color: #142438;
        cursor: pointer;
        margin: 8px;
    }

    .menu > span.active {
        font-weight: 700;
    }
}
@media screen and (max-width: 900px) {
    header {
        display: flex;
        width: 100%;
        z-index: 6;
        box-shadow: 0 0 10px -4px grey;
        box-sizing: border-box;
        height: 60px;
        padding: 0 8px;
        flex-direction: row;
    }

    header > div {
        flex: 5;
    }

    header > .logotype {
        display: flex;
        justify-content: flex-start;
    }

    header > .logotype > img{
        width: 175px;
    }

    header > .changeLang {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        font-size: 24px;
        color: #828282;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                         supported by Chrome, Edge, Opera and Firefox */
    }

    header > .changeLang > div {
        float: right;
    }

    header > .changeLang .selected {
        color: #1AAB48;
        font-size: 26px;
    }

    header > .changeLang > img {
        height: 100%;
    }
    header > .logotype {
        flex: 1;
    }
    .menu {
        display: none;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
    }

    .menu > span {
        font-family: "OpenSans", sans-serif;
        font-size: 14px;
        /*font-weight: 700;*/
        color: #142438;
        cursor: pointer;
        margin: 8px;
    }

    .menu > span.active {
        font-weight: 700;
    }
}