@media screen and (min-width: 901px) {
    .reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 var(--offset);
        height: 468px;
        column-gap: 24px;
    }

    .reviews > .review_form {
        width: 100%;
        background: white;
        margin: 0 auto 20px auto;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
    }

    .reviews > .review_form > .title {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        margin: 24px 32px;
        font-size: 16px;

    }

    .reviews > .review_form > form {
        border-top: 1px solid #efefef;
    }

    .reviews > .review_form > form > input {
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
        margin: 16px 32px;
        font-size: 16px;
        font-family: "OpenSans", sans-serif;
        padding: 5px 10px;
        width: calc(100% - 64px);
        background-color: white !important;
        height: 40px;
    }

    .reviews > .review_form > form > .company {
        display: grid;
        width: calc(100% - 64px);
        grid-template-columns: 80% 10%;
    }

    .reviews > .review_form > form > .company > select {
        font-family: 'OpenSans', sans-serif;
        font-size: 14px;
        width: 100%;
        margin: 0 32px;
        padding: 5px 18px;
        color: grey !important;
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
    }

    .reviews > .review_form > form > textarea {
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
        margin: 16px 32px;
        font-size: 16px;
        font-family: "OpenSans", sans-serif;
        width: calc(100% - 64px);
        background-color: white !important;
        padding: 10px 15px;
        height: 200px;
    }

    .reviews > .review_form > form > button {
        margin: 0 32px 16px 32px;
        height: 40px;
        width: 200px;
        border-radius: 8px;
        background: var(--blue);
        color: white;
        font-family: "OpenSans", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
        font-style: italic;
        border: 0.2px solid var(--blue);
        float: right;
    }

    .success_msg {
        float: right;
        margin-top: 8px;
        color: var(--green);
    }

    #rating {
        font-size: 11px;
        width: 75px;
        display: block;
        margin-left: 50px;
        color: #a8a8a8 !important;
    }

    .rating {
        display: block;
        width: 100px;
        margin-left: 48px
    }

    .company > div > div {
        display: block !important;
    }
}

@media screen and (max-width: 900px) {
    .reviews {
        padding: 0 calc(var(--offset)/9);
        /*height: 478px;*/
        column-gap: 24px;
    }

    .reviews > .review_form {
        width: 100%;
        background: white;
        margin: 0 auto 20px auto;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
        height: 478px;
    }

    .reviews > .review_form > .title {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        margin: 24px 32px;
        font-size: 16px;

    }

    .reviews > .review_form > form {
        border-top: 1px solid #efefef;
    }

    .reviews > .review_form > form > input {
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
        margin: 16px 16px;
        font-size: 16px;
        font-family: "OpenSans", sans-serif;
        padding: 5px 10px;
        width: calc(100% - 32px);
        background-color: white !important;
        height: 40px;
    }

    .reviews > .review_form > form > .company {
        display: grid;
        width: calc(100% - 32px);
        grid-template-columns: 68% 32%;
    }

    .reviews > .review_form > form > .company > select {
        font-family: 'OpenSans', sans-serif;
        font-size: 14px;
        width: 100%;
        margin: 0 16px;
        padding: 5px 18px;
        color: grey !important;
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
    }

    .reviews > .review_form > form > .company > div {
        margin-left: -18px;
    }

    .reviews > .review_form > form > textarea {
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
        margin: 16px 16px;
        font-size: 16px;
        font-family: "OpenSans", sans-serif;
        width: calc(100% - 32px);
        background-color: white !important;
        padding: 10px 15px;
        height: 200px;
    }

    .reviews > .review_form > form > button {
        margin: 0 18px;
        height: 40px;
        width: 90%;
        border-radius: 8px;
        background: var(--blue);
        color: white;
        font-family: "OpenSans", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
        font-style: italic;
        border: 0.2px solid var(--blue);
        float: right;
    }

    .success_msg {
        float: right;
        margin-top: 8px;
        color: var(--green);
    }


    #rating {
        font-size: 11px;
        width: 75px;
        display: block;
        margin-left: 50px;
        color: #a8a8a8 !important;
    }

    .rating {
        display: block;
        width: 100px;
        margin-left: 48px
    }

    .company > div > div {
        display: block !important;
    }
}