@media screen and (min-width: 901px) {

    .dialog_msg {
        width: 300px;
        height: 125px;
        position: fixed;
        top: 64px;
        left: 48px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 7px -2px black;
        z-index: 98;
    }
    .dialog_msg > .title {
        font-family: "OpenSans", sans-serif;
        color: #535353;
        margin: 16px 10% 12px 10%;
        font-size: 16px;
    }

    .dialog_msg > .title > b {
        font-family: "Ubuntu", sans-serif;
    }

    .dialog_msg > .button_wrapper {
        display: flex;
        width: 80%;
        margin: 18px auto;
        justify-content: center;
        align-items: flex-start;
        height: 45px;
    }

    .dialog_msg > .button_wrapper > .button{
        text-decoration: none;
        background: var(--green);
        border: none;
        color: white;
        width: 110px;
        height: 35px;
        font-size: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .dialog_msg > .button_wrapper > .button:last-child {
        background: none;
        color: #222222;
        text-decoration: underline;
    }

    .dialog_msg > .button_wrapper > .button:last-child:hover {
        box-shadow: none;
    }

    .dialog_msg > select {
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        width: calc(100% - 64px);
        margin: 0 32px;
        padding: 5px 18px;
        color: grey !important;
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
    }

    .button {
        float: left;
        border-radius: 8px;
        font-family: "OpenSans", sans-serif;
        display: flex;
        align-items: center;
        background: var(--blue);
        border: 0.2px solid var(--blue);
        justify-content: center;
        margin-left: 24px;
        cursor: pointer;
        font-size: 18px;
        font-style: italic;
        z-index: 3;
    }

    .button:hover {
        box-shadow: 0 0 5px -2px black;
    }

    .inputGroup {
        display: grid;
        overflow: hidden;
        border-radius: 10px;
        float: left;
        border: 1px solid #efefef;
        background: white;
    }

    .inputGroup:hover {
        box-shadow: 0 0 5px -2px black;
        overflow: hidden;
    }

    .input {
        width: 100%;
        height: 100%;
        background: white;
        position: relative;
        cursor: pointer;
        border-right: 1px solid #dfdfdf;
        z-index: 5;
        box-sizing: border-box;
        overflow: hidden;
    }

    .input:first-child {
        border-radius: 10px 0 0 10px;
    }

    .input:last-child {
        border-radius: 0 10px 10px 0;
        border-right: none;
    }

    .input > label {
        position: absolute;
        left: 16px;
        bottom: 27%;
        z-index: 6;
        font-size: 16px;
        transition: 300ms;
        color: gray;
        cursor: pointer;
    }

    .input > input {
        width: 100%;
        font-size: 16px;
        transition: 400ms;
        opacity: 0;
        padding: 16px;
        height: 60%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        border: 0;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
    }

    .ads {
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .ads > img {
        max-height: 80px;
        border-right: 1px solid white;
    }

    .ads > p {
        color: white;
        margin-left: 13px;
        margin-top: 20px;
    }

    .filter {
        background: white;
        box-sizing: border-box;
        height: 56px;
        padding: 8px;
        border: 1px solid #efefef;
        border-radius: 8px;
        box-shadow: 0 0 10px -8px grey;
        display: flex;
        align-items: center;
        margin: 0 0 16px 0;
    }

    .filter > span {
        margin: 0 16px;
        color: #535353;
        font-style: italic;
        cursor: pointer;
    }

    .filter > span:first-child {
        font-weight: bold;
    }

    .filter > span:hover {
        color: #272a53;
        text-shadow: 0 0 1px #5a5ab4;
        cursor: pointer;
    }

    .filter > span:first-child:hover {
        color: #535353;
        text-shadow: none;
        cursor: default;
    }

    .offer {
        position: relative;
        width: 100%;
        height: 280px;
        overflow: hidden;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
        transition: 300ms;
    }

    .offer > .wrapper {
        margin: 0;
        width: 100%;
        height: calc(100% - 80px);
        box-shadow: 0 -2px 4px -2px rgba(17, 60, 143, 0.05), 0 5px 20px -5px rgba(17, 60, 143, 0.25);
        background: #f8fdf9;
        box-sizing: border-box;
        padding: 4px 24px;
    }

    .offer > .wrapper > div {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 12px 0;
    }

    .offer > .wrapper > div > span:first-child {
        font-style: italic;
        color: #535353;
        font-size: 14px;
        margin: 0.5px 0;
    }

    .offer > .wrapper > div:first-child > span:last-child {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        font-size: 18px;
        font-style: normal;
    }

    .offer > .wrapper.badOffer > div:nth-child(2) > span:last-child {
        color: #535353;
    }
    .offer > .wrapper > div:nth-child(2) > span:last-child {
        font-family: "Ubuntu", sans-serif;
        color: var(--green);
        font-size: 18px;
        font-style: normal;
    }

    .offer > .wrapper > div > span:last-child {
        color: #535353;
        font-style: italic;
        font-size: 14px;
        margin: 0.5px 0;
    }

    .offer .logotype {
        margin: 0;
        width: 100%;
        height: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 24px 5px;
        background-color: rgb(249, 249, 249);
        border-bottom: 1px solid rgb(228, 228, 228);
    }
    .offer > .wrapper.badOffer > .buttons > .button {
        background: #818181;
    }
    .wrapper > .buttons {
        display: grid;
        grid-template-columns: 1fr 32px!important;
        grid-column-gap: 8px;
    }

    .wrapper > .buttons > .button:last-child {
        background: #e5e5e5!important;
        box-shadow: 0 0 7px -4px #777777;
    }

    .wrapper > .buttons > .button {
        width: 100%;
        height: 32px;
        background: var(--green);
        border: none;
        box-sizing: border-box;
        margin: 0 auto 0 auto;
        font-style: italic;
        font-size: 17px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 0 -2px 4px -2px rgba(17, 60, 143, 0.05), 0 5px 20px -5px rgba(17, 60, 143, 0.25);
        cursor: pointer;
        text-decoration: none;
    }

    .reviewsList {
        background: white;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
        z-index: 5;
        height: 468px;
    }

    .reviewsList > .list > .review {
        font-family: "Ubuntu", sans-serif;
        color: #828282;
        font-size: 12px;
        margin: 15px 0 0 0;
    }

    .reviewsList > .list > .review > div > span > img {
        width: 20px;
        position: relative;
        top: -2px;
    }

    .reviewsList > .list > .review > div > span:last-child {
        position: relative;
        right: 10px;
        color: #828282;
        margin-left: 2px;
    }

    .reviewsList > .list > .review > p {
        color: #535353;
        margin: 10px 0 0 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #efefef;
        font-family: "OpenSans", sans-serif;
        font-size: 16px;
    }

    .reviewsList > .list > .moreButton {
        width: 150px;
        text-align: center;
        margin: 16px auto;
        color: #3b43c0;
        cursor: pointer;
    }

    .reviewsList > .list > .review > div > span {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        font-size: 16px;
        margin: 0 5px 0 0;
    }

    .reviewsList > .title {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        margin: 24px 32px;
        font-size: 16px;
    }

    .reviewsList > .list {
        padding: 0 30px;
        border-top: 1px solid #efefef;
        overflow-y: scroll;
        height: 400px;
    }

    .pageLoader {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f5f5f5;
        transition: 500ms;
    }

    .pageLoader > .loader {
        width: 256px;
        height: 23px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .page404 > .content {
        width: 600px;
        height: 500px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    .page404 > .content > img {
        display: block;
        margin: 0 auto;
    }
    .page404 > .content > div > h1 {
        font-size: 150px;
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        color: var(--green);
    }
    .page404 > .content > .links {
        display: flex;
        justify-content: center;
        width: 275px;
        margin: 0 auto;

    }
    .page404 > .content > .links > a {
        font-family: 'Quicksand', sans-serif;
        margin: 8px;
        font-size: 24px;
        color: #5a5ab4;
    }
    .page404 > .content > div > p {
        margin-top: 0;
        text-align: center;
        color: #535353;
    }
}

@media screen and (max-width: 900px) {
    .button {
        float: left;
        border-radius: 8px;
        font-family: "OpenSans", sans-serif;
        border: 0.2px solid var(--blue);
        background: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 0;
        cursor: pointer;
        font-size: 16px;
        font-style: italic;
        z-index: 3;
    }

    .button:hover {
        box-shadow: 0 0 5px -2px black;
    }

    .inputGroup {
        display: grid;
        overflow: hidden;
        border-radius: 10px;
        float: left;
        border: 1px solid #efefef;
        background: white;
    }

    .inputGroup:hover {
        box-shadow: 0 0 5px -2px black;
        overflow: hidden;
    }

    .input {
        width: 100%;
        height: 100%;
        background: white;
        position: relative;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        border-bottom: 1px solid #dfdfdf;
        z-index: 5;
        box-sizing: border-box;
        overflow: hidden;
    }

    .input:last-child {
        border-bottom: none;
        border-radius: 10px;
    }

    .input > label {
        position: absolute;
        left: 16px;
        bottom: 27%;
        z-index: 6;
        font-size: 16px;
        transition: 300ms;
        color: gray;
        cursor: pointer;
    }

    .input > input {
        width: 100%;
        font-size: 16px;
        transition: 400ms;
        opacity: 0;
        padding: 16px;
        height: 60%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        border: 0;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
    }

    .ads {
        display: block;
        /*float: left;*/
    }

    .ads > img {
        max-height: 68px;
        margin: 6px 0 0 2%;
    }

    .ads > p {
        display: none;
    }

    .filter {
        display: none;
    }

    .filter > span {
        margin: 0 16px;
        color: #535353;
        font-style: italic;
        cursor: pointer;
    }

    .filter > span:first-child {
        font-weight: bold;
    }

    .filter > span:hover {
        color: #272a53;
        text-shadow: 0 0 1px #5a5ab4;
        cursor: pointer;
    }

    .filter > span:first-child:hover {
        color: #535353;
        text-shadow: none;
        cursor: default;
    }

    .offer {
        position: relative;
        width: 100%;
        height: 185px;
        overflow: hidden;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
        transition: 300ms;
    }

    .offer > .wrapper {
        margin: 0;
        width: 100%;
        height: calc(100% - 40px);
        box-shadow: 0 -2px 4px -2px rgba(17, 60, 143, 0.05), 0 5px 20px -5px rgba(17, 60, 143, 0.25);
        background: #f8fdf9;
        box-sizing: border-box;
        padding: 4px 12px;
    }

    .offer > .wrapper > div {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 6px 0;
    }

    .offer > .wrapper > div > span:first-child {
        font-style: italic;
        color: #535353;
        font-size: 10px;
        margin: 0.5px 0;
    }

    .offer > .wrapper > div:first-child > span:last-child {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        font-size: 10px;
        font-style: normal;
    }
    .offer > .wrapper.badOffer > div:nth-child(2) > span:last-child {
        color: #535353;
    }
    .offer > .wrapper > div:nth-child(2) > span:last-child {
        font-family: "Ubuntu", sans-serif;
        color: var(--green);
        font-size: 12px;
        font-style: normal;
    }

    .offer > .wrapper > div > span:last-child {
        color: #535353;
        font-style: italic;
        font-size: 10px;
        margin: 0.5px 0;
    }

    .offer .logotype {
        margin: 0;
        width: 100%;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 24px 5px;
        background-color: rgb(249, 249, 249);
        border-bottom: 1px solid rgb(228, 228, 228);
    }
    .offer > .wrapper.badOffer > .button {
        background: #949494;
    }
    .wrapper > .button {
        width: 100%;
        height: 28px;
        background: rgba(26, 171, 72, 1);
        box-sizing: border-box;
        margin: 0 auto;
        font-size: 13px;
        font-style: italic;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 0 -2px 4px -2px rgba(17, 60, 143, 0.05), 0 5px 20px -5px rgba(17, 60, 143, 0.25);
        cursor: pointer;
        text-decoration: none;
    }

    .reviewsList {
        background: white;
        box-shadow: 0 0 10px -8px grey;
        box-sizing: border-box;
        border: 1px solid #efefef;
        border-radius: 8px;
        z-index: 5;
        height: 468px;
    }

    .reviewsList > .list > .review {
        font-family: "Ubuntu", sans-serif;
        color: #828282;
        font-size: 12px;
        margin: 8px 0 0 0;
    }
    .reviewsList > .list > .review > div > span:first-child{
        font-size: 14px;
    }

    .reviewsList > .list > .review > div > span > img {
        width: 20px;
        position: relative;
        top: -2px;
    }

    .reviewsList > .list > .review > h6 {
        font-size: 12px;
        margin: 0;
    }

    .reviewsList > .list > .review > div > span:last-child {
        position: relative;
        right: 10px;
        color: #828282;
        margin-left: 2px;
    }

    .reviewsList > .list > .review > p {
        color: #535353;
        margin: 10px 0 0 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #efefef;
        font-family: "OpenSans", sans-serif;
        font-size: 13px;
    }

    .reviewsList > .list > .moreButton {
        width: 150px;
        text-align: center;
        margin: 16px auto;
        color: #3b43c0;
        cursor: pointer;
    }

    .reviewsList > .list > .review > div > span {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        font-size: 16px;
        margin: 0 5px 0 0;
    }

    .reviewsList > .title {
        font-family: "Ubuntu", sans-serif;
        color: #535353;
        margin: 24px 32px;
        font-size: 16px;
    }

    .reviewsList > .list {
        padding: 0 18px;
        border-top: 1px solid #efefef;
        overflow-y: scroll;
        height: 400px;
    }

    .pageLoader {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f5f5f5;
        transition: 500ms;
    }

    .pageLoader > .loader {
        width: 256px;
        height: 23px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .page404 > .content > img {
        display: block;
        margin: 0 auto;
    }
    .page404 > .content > div > h1 {
        font-size: 150px;
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        color: var(--green);
    }
    .page404 > .content > .links {
        display: flex;
        justify-content: center;
        width: 275px;
        margin: 0 auto;

    }
    .page404 > .content > .links > a {
        font-family: 'Quicksand', sans-serif;
        margin: 18px;
        font-size: 44px;
        color: #5a5ab4;
    }
    .page404 > .content > div > p {
        margin-top: 0;
        text-align: center;
        color: #535353;
    }

    .wrapper > .buttons {
        display: grid;
        grid-template-columns: 1fr 25px!important;
        grid-column-gap: 8px;
    }

    .wrapper > .buttons > .button:last-child {
        background: #e5e5e5!important;
        box-shadow: 0 0 7px -4px #777777;
    }

    .wrapper > .buttons > .button {
        width: 100%;
        height: 25px;
        background: var(--green);
        border: none!important;
        box-sizing: border-box;
        margin: 0 auto 0 auto;
        font-style: italic;
        font-size: 9px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 0 -2px 4px -2px rgba(17, 60, 143, 0.05), 0 5px 20px -5px rgba(17, 60, 143, 0.25);
        cursor: pointer;
        text-decoration: none;
    }
    .dialog_msg {
        width: 95%;
        height: 125px;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 7px -2px black;
        z-index: 98;
    }
    .dialog_msg > .title {
        font-family: "OpenSans", sans-serif;
        color: #535353;
        margin: 16px 10% 12px 10%;
        font-size: 16px;
    }

    .dialog_msg > .title > b {
        font-family: "Ubuntu", sans-serif;
    }

    .dialog_msg > .button_wrapper {
        display: flex;
        width: 80%;
        margin: 18px auto;
        justify-content: center;
        align-items: flex-start;
        height: 45px;
    }

    .dialog_msg > .button_wrapper > .button{
        text-decoration: none;
        background: var(--green);
        border: none;
        color: white;
        width: 110px;
        height: 35px;
        font-size: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .dialog_msg > .button_wrapper > .button:last-child {
        background: none;
        color: #222222;
        text-decoration: underline;
    }

    .dialog_msg > .button_wrapper > .button:last-child:hover {
        box-shadow: none;
    }

    .dialog_msg > select {
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        width: calc(100% - 64px);
        margin: 0 32px;
        padding: 5px 18px;
        color: grey !important;
        border: 1px solid #dce1e6;
        box-sizing: border-box;
        display: block;
        border-radius: 6px !important;
    }
}