.button {
    float: left;
    border-radius: 8px;
    font-family: "OpenSans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    z-index: 3;
}
.button:hover {
    box-shadow: 0 0 5px -2px black;
}

.inputGroup {
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    border: 1px solid #efefef;
}

.inputGroup:hover {
    box-shadow: 0 0 5px -2px black;
}

.input {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #dfdfdf;
    z-index: 5;
    box-sizing: border-box;
}
.input:last-child {
    border-right: none;
}
.input > label {
    position: absolute;
    left: 16px;
    bottom: 27%;
    z-index: 6;
    font-size: 16px;
    transition: 300ms;
    color: gray;
    cursor: pointer;
}
.input > input {
    width: 100%;
    font-size: 16px;
    transition: 400ms;
    opacity: 0;
    padding: 16px;
    height: 60%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
}

.ads {
    display: grid;
    grid-template-columns: 60% 40%;
}

.ads > img {
    width: 100%;
    border-right: 1px solid white;
}
.ads > p {
    margin-left: 24px;
    color: white
}

.filter {
    background: white;
    box-sizing: border-box;
    height: 56px;
    padding: 8px;
    border: 1px solid #efefef;
    border-radius: 8px;
    box-shadow: 0 0 10px -8px grey;
    display: flex;
    align-items: center;
    margin: 0 0 16px 0;
}

.filter > span {
    margin: 0 16px;
    color: #535353;
    font-style: italic;
    cursor: pointer;
}
.filter > span:first-child {
    font-weight: bold;
}
.filter > span:hover {
    color: #272a53;
    text-shadow: 0 0 1px #5a5ab4;
    cursor: pointer;
}
.filter > span:first-child:hover {
    color: #535353;
    text-shadow: none;
    cursor: default;
}

.offer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 10px -8px grey;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 8px;
    transition: 300ms;
}

.offer > .wrapper {
    margin: 0;
    width: 100%;
    height: calc(100% - 80px);
    box-shadow: 0 -2px 4px -2px rgba(17,60,143,0.05),0 5px 20px -5px rgba(17,60,143,0.25);
    background: #f8fdf9;
    box-sizing: border-box;
    padding: 4px 24px;
}

.offer > .wrapper > div {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 12px 0;
}

.offer > .wrapper > div > span:first-child {
    font-style: italic;
    color: #535353;
    font-size: 14px;
    margin: 0.5px 0;
}

.offer > .wrapper > div:first-child > span:last-child {
    font-family: "Ubuntu", sans-serif;
    color: #535353;
    font-size: 18px;
    font-style: normal;
}

.offer > .wrapper > div:nth-child(2) > span:last-child {
    font-family: "Ubuntu", sans-serif;
    color: rgba(26, 171, 72, 1);
    font-size: 18px;
    font-style: normal;
}

.offer > .wrapper > div > span:last-child {
    color: #535353;
    font-style: italic;
    font-size: 14px;
    margin: 0.5px 0;
}

.offer .logotype {
    margin: 0;
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 24px 5px;
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.wrapper > .button {
    width: 100%;
    height: 32px;
    background: rgba(26, 171, 72, 1);
    box-sizing: border-box;
    margin: 24px auto 0 auto;
    font-style: italic;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 -2px 4px -2px rgba(17,60,143,0.05),0 5px 20px -5px rgba(17,60,143,0.25);
    cursor: pointer;
    text-decoration: none;
}