
.cardSelector {
    width: 100%;
    height: 350px;
    background: linear-gradient(90deg, var(--back) 0%, var(--detail) 100%);
    box-sizing: border-box;
    padding: 48px var(--offset);
    box-shadow: 0 0 10px -5px black;
    z-index: 9;
}

.cardSelector > .header > h1 {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 40px;
}

.cardSelector > .header > p {
    width: 70%;
    color: white;
    margin: 24px 0;
}

.cardSelector > .inputs {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 50px 50px;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}